<app-zippy>
  <p>Contents of first paragraph.</p>
  <p>Contents of second paragraph.</p>
  <p>Contents of first paragraph.</p>
  <p>Contents of second paragraph.</p>
  <p>Contents of first paragraph.</p>
  <p>Contents of second paragraph.</p>
  <p>Contents of first paragraph.</p>
  <p>Contents of second paragraph.</p>
  <p>Contents of first paragraph.</p>
  <p>Contents of second paragraph.</p>
  <p>Contents of first paragraph.</p>
  <p>Contents of second paragraph.</p>
  <p>Contents of first paragraph.</p>
  <p>Contents of second paragraph.</p>
  <p>Contents of first paragraph.</p>
  <p>Contents of second paragraph.</p>
  <p>Contents of first paragraph.</p>
  <p>Contents of second paragraph.</p>
  <p>Contents of first paragraph.</p>
  <p>Contents of second paragraph.</p>
  <p>Contents of first paragraph.</p>
  <p>Contents of second paragraph.</p>
  <p>Contents of first paragraph.</p>
  <p>Contents of second paragraph.</p>
</app-zippy>
